CONCOURSE_WORK_DIR={{ concourse_ci_install_path }}/var
CONCOURSE_TSA_WORKER_PRIVATE_KEY={{ concourse_ci_install_path }}/etc/worker_key
CONCOURSE_TSA_PUBLIC_KEY={{ concourse_ci_install_path }}/etc/tsa_public_key
CONCOURSE_TSA_HOST={{ concourse_ci_tsa_address }}
CONCOURSE_GARDEN_DNS_SERVER=8.8.8.8
